.footer {
  h5 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .small {
    font-size: 0.9rem;
    line-height: 1.6;
  }
  
  ul {
    li {
      margin-bottom: 0.5rem;
    }
  }
}